RewriteEngine on
FileETag None

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} =http
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} =http
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# redirect empty requests / -> public/index.php
RewriteRule ^$  /public/index.php [L,NC]

# Deny access to .git directory
RewriteRule "(^|/)\.git" - [F]

# IF the file exists or dir exists THEN just go there
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule .* - [L,NC,PT,QSA]

# IF the file or dir exists in /public THEN just go /public
RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -d
RewriteRule .* /public%{REQUEST_URI} [L,NC,PT,QSA]

# redirect "old style" registration requests 
RewriteRule ^register.php$  /UserRegistration [R=301,R,L]

RewriteRule ^search\.(gpx|kml|loc|ov2|ovl|txt|wpt|uam|xml|zip|ggz)$  /search.php?%{QUERY_STRING} [L,NC]
RewriteRule ^ocpl(\d+)\.(gpx|kml|loc|ov2|ovl|txt|wpt|uam|xml|zip|ggz|jsoncodes)$  /search.php?queryid=$1&output=$2&%{QUERY_STRING} [L,NC]
RewriteRule ^ocplgpx(\d+)\.(gpx)$  /search.php?queryid=$1&output=gpxgc&%{QUERY_STRING} [L,NC]

# statPic - used for backward compatibility
RewriteRule ^statpics/([0-9]+)\.jpg$  /stats/statPic/$1 [R,L]


# redirect requests like /OP123F to viewcache page 
RewriteRule ^(O[A-Z][0-9A-Z][0-9A-Z][0-9A-Z][0-9A-Z])$  /viewcache.php?wp=$1 [R=301,L,NC]

# redirect from old tinyMCE emoticons to the new location of emoticons
RewriteRule ^lib/tinymce4/plugins/emoticons/img/smiley-([a-z-]+)\.gif$  /public/images/emoticons/fromTinyMce/smiley-$1.gif [NC,L]

# Remap old /rss directory into new RSS controller
RewriteRule ^rss/newcaches\.xml$ %{DOCUMENT_ROOT}/RSS/newCaches [L]
RewriteRule ^rss/newnews\.xml$ %{DOCUMENT_ROOT}/RSS/newNews [L]
RewriteRule ^rss/newlogs\.xml$ %{DOCUMENT_ROOT}/RSS/newLogs [L]
RewriteRule ^rss/my_logs\.xml$ %{DOCUMENT_ROOT}/RSS/myLogs [L]
RewriteRule ^rss/mycaches_logs\.xml$ %{DOCUMENT_ROOT}/RSS/myCachesLogs [L]

# permanentely block Wordpress login page - too many such requests 
RewriteRule ^wp-login.php "-" [F]


# redirect the all OTHER requests -> /public/index.php
RewriteRule ^(.*)$  /public/index.php?r=$1 [NC,L,QSA,B,NE,PT]


# To be sure: apache site config should contains also aliases:
#  /images/uploads/   -> */ocpl-dynamic-files/images/uploads/
#  /uploads/          -> */ocpl-dynamic-files/images/uploads/
#  /wigo/             -> */ocpl-dynamic-files/wigo/
#  /download/         -> */ocpl-dynamic-files/download/
#  /images/statpics/  -> */ocpl-dynamic-files/images/statpics/
#  /images/mini-mapa/ -> */ocpl-dynamic-files/images/mini-mapa/
#  /mp3/              -> */ocpl-dynamic-files/mp3/
#  /tmp/              -> */ocpl-dynamic-files/tmp/


#php_value xdebug.mode debug
#php_value xdebug.mode debug.develop
#php_value xdebug.idekey PHPSTORM
#php_value xdebug.client_host 172.0.0.1
#php_value xdebug.client_port 40121
#php_flag xdebug.start_with_request yes
#php_value xdebug.discover_client_host 1



# Xdebug 2
php_value xdebug.idekey PHPSTORM
php_flag  xdebug.remote_autostart on
php_flag  xdebug.remote_enable on
php_value xdebug.remote_host 127.0.0.1
php_value xdebug.remote_port 9003
#php_value xdebug.remote_port 40121
php_value xdebug.remote_log /srv/ocpl-dynamic-files/xdebug.log
php_value xdebug.remote_log_level 10

# Xdebug 3
php_value xdebug.mode debug
php_value xdebug.mode debug.develop
php_value xdebug.idekey PHPSTORM
php_value xdebug.start_with_request yes
#php_value xdebug.discover_client_host 0
php_value xdebug.discover_client_host 1
php_value xdebug.client_host 172.0.0.1
php_value xdebug.client_port 9003
#php_value xdebug.client_port 40121
php_value xdebug.log /srv/ocpl-dynamic-files/xdebug.log
#php_value xdebug.log /mnt/c/Users/artur/PhpstormProjects/opencaching-pl/dynamic-files/xedbug.log
#php_value xdebug.log_level 10
php_value xdebug.log_level 0